
.icon-basket:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */
.icon-dollar:before { content: '\e802'; } /* '' */
.icon-cogs:before { content: '\e803'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */